{% import '@Domain/components/link.twig' as html %}

<div class='side-bar -scrollable'>
	<div grid='rows fluid gutters'>
		<div class="simple-title">Management</div>
		<div class='group-block -vertical'>
			{{ html.link('@Admin.overview', 'Overview', 'button -darky') }}
			{{ html.link('@Admin.users', 'Users', 'button -darky') }}
			{{ html.link('@Admin.routes', 'Routes', 'button -darky') }}
		</div>
		<div><hr></div>
		<div class="simple-title">Settings</div>
		<div class='group-block -vertical'>
			<a class='button -darky'>coucou</a>
			<a class='button -darky'>coucou</a>
			<a class='button -darky'>coucou</a>
			<a class='button -darky'>coucou</a>
		</div>
		<div><hr></div>
		<div class="simple-title">Modules</div>
		<div class='group-block -vertical'>
			{% for module in modules %}
				{% if path_exist(module.path.settings) %}
					{{ html.link(module.path.settings, module.name, 'button -darky') }}
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>