{% extends '@Admin/layout.twig' %}

{% block admin_content %}
	<div grid='gutters'>
		
		{% for statModule in stats %}
			{% include statModule.file with statModule.args %}
		{% endfor %}
		
	</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript" src='{{ asset('js/admin/chart.js') }}'></script>
{% endblock %}
