{% extends '@Admin/layout.twig' %}

{% block admin_content %}
	<div grid='list gutters'>
		{% for module in modules %}
			{% set matched_routes = [] %}
			{% for route in routes %}
				{% if route.name starts with module.prefix %}
					{% set matched_routes = matched_routes | merge([route]) %}
				{% endif %}
			{% endfor %}
			<div>
				<span class="simple-title">{{module.name}}</span>
			</div>
			<div>
				<table class='table'>
					<thead>
						<th>Name</th>
						<th>Path</th>
						<th>Method</th>
					</thead>
					<tbody>
						{% for route in matched_routes %}
							<tr>
								<td>{{ route.name }}</td>
								<td>{{ route.pattern }}</td>
								<td>{{ route.methods | join(', ') }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endfor %}
	</div>
{% endblock %}
