{% extends '@Admin/layout.twig' %}

{% block admin_content %}
	<div grid='list gutters'>
		<div>
			<span class='simple-title'>Sum up</span>
		</div>
		<div>
			<div class="card-box">
				<div class='content'>
					There is {{ users | length }} registered users on your website.
				</div>
			</div>
		</div>
		<div></div>
		<div>
			<hr class='-darky'>
		</div>
		<div>
			<span class="simple-title">List</span>
		</div>
		<div>
			<table class='table'>
				<thead>
					<th>Name</th>
					<th>Email</th>
					<th>Creation date</th>
					<th>Actions</th>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.username }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.created_at }}</td>
							<td>
								<a href="#">update</a>
								<a href="#">delete</a>
								<a href="#">message</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
