<div grid='list gutters' column='6 l-12'>
	<div class="simple-title">Top {{ nb_items }} visitors</div>
	<div class='-scrollable'>
		<table class='table'>
			<thead>
				<th>Rank</th>
				<th>Ip</th>
				<th>Browser</th>
				<th>OS</th>
				<th>Hits</th>
			</thead>
			<tbody>
				{% for item in top_items %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ item.ip }}</td>
						<td>{{ item.browser }}</td>
						<td>{{ item.operating_system }}</td>
						<td>{{ item.hits }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>