<div grid='list gutters' column='6 l-12'>
	<div class="simple-title">Top {{ nb_items }} pages</div>
	<div class='-scrollable'>
		<table class='table'>
			<thead>
				<th>Rank</th>
				<th>Name</th>
				<th>Path</th>
				<th>Hits</th>
			</thead>
			<tbody>
				{% for item in top_items %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ item.name }}</td>
						<td>{{ item.path }}</td>
						<td>{{ item.hits }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>