{% extends '@Domain/layout/app.twig' %}

{% block content %}
	<div grid='fluid' class='_size-fluid-v'>
		{% include '@Admin/components/sidebar.twig' %}
		
		<div column class='-scrollable'>
			<div grid='list gutters'>
				{% include '@Domain/components/breadcrumb.twig' %}
				{% include '@Domain/components/alerts.twig' %}

				{% block admin_content %}
				{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
