{% import '@Domain/components/link.twig' as html %}

{% if auth.check() %}
	<span class="drop-down" tabindex="0">
		<span class="toggle -lighty -prefixed" id="accountMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="prefix"><i class="ico ico-account"></i></span>
			{{ auth.username }}
		</span>
		<div class="drop-content" aria-labelledby="accountMenu">
			<div class="drop-block -list">
				{{ html.link('auth.settings', translator.lang('@Auth.parts.setting'), 'item') }}
				{{ html.link('auth.logout', translator.lang('@Auth.parts.logout'), 'item -error') }}
			</div>
		</div>
	</span>
{% else %}
	{{ html.link('auth.login', translator.lang('@Auth.parts.login'), 'nav-item -success') }}
	{{ html.link('auth.register', translator.lang('@Auth.parts.register'), 'nav-item') }}
{% endif %}