{% if not(nofield | default(false)) %}
    <div class="form-field {{ field_class }}"
        {% for name, value in field_props %}
            {{ name }}='{{ value }}'
        {% endfor %}
    >
{% endif %}

    {% if wrap | default(false) %}
        <div>
    {% endif %}

    {% if label | default(false) or translated | default(false) %}
        {% if translated != null %}
            {% set label = translator.lang(translated.label, translated.args | default({})) %}
        {% endif %}
        <label class="label" for='{{ name }}'>{{ label }}</label>
    {% endif %}
    
    {% block input %}
        <input type="{{ type | default('text') }}" {% if name != null %}name='{{ name }}' id='{{ name }}'{% endif %} class='{{ class }}{% if attribute(errors, name) != null %} -error{% endif %}' value='{{ value | default(attribute(old, name)) }}' 
        {% for name, value in props %}
            {{ name }}='{{ value }}'
        {% endfor %}
        >
    {% endblock %}

    {% if attribute(errors, name) != null %}
        {% if attribute(errors, name) is iterable %}
            {% for error in attribute(errors, name) %}
                <div class="help -error">{{error}}</div>
            {% endfor %}
        {% else %}
            <div class="help -error">{{attribute(errors, name)}}</div>
        {% endif %}
    {% endif %}

    {% if wrap | default(false) %}
        </div>
    {% endif %}

{% if not(nofield | default(false)) %}
    </div>
{% endif %}